<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Page</title>
    <link rel="stylesheet" href="View/Login/estilos.css" />
  </head>

  <body>
    <div class="container">

      <img src="View/Login/angry.png" width="4%" height="6%" class="angry">
     

      <div class="login">

        <h4>ACCEDE A TU CUENTA</h4>
      
      </div>

      <div class="gmail">

        <input type="email" placeholder="Email" size="30" id="username" class="inp1">
        <input type="password" placeholder="Password" id="password" size="30">  
        <input type="button" value="Acceder" id="boton" class="boton">
    
      </div>


    </div>
    











    <div class="footer_page">
      <footer>
        <div id="content_4">
          <ul>
            <h4 id="letra">Region/Divisa</h4>
            <li id="sinpunto">
              <select name="Pais" id="mdesplegable"
                ><!--Select es el que da la orden para que se cree el menu desplegable-->
                <option >Colombia</option><!--Este es el que asignas los nombres que van a ir dentro del menu-->> </select
              ><!--El select siempre contiene al option value por que es la etiqueta padre-->
            </li>
            <li id="sinpunto">
              <select name="Divisa" id="m2">
                <option value="Euros">COP pesos </option>
              </select>
            </li>
          </ul>
        </div>
        <div id="content_3">
          <ul>
            <h4>Mas</h4>
            <a href="https://www.kayak.com.co/airline-fees"
              ><li>Reclamos</li></a
            >
            <a href="https://www.kayak.com.co/airlines"><li>Atencion al cliente</li></a>
            <a href="https://www.kayak.com.co/help/lowfares"
              ><li>Ofertas de temporada</li></a
            >
            <a href="https://www.kayak.com.co/badges"
              ><li>Membresias</li></a
            >
          </ul>
        </div>
        <div id="content_2">
          <ul>
            <h4>Contacto</h4>
            <a href="https://www.kayak.com.co/help"
              ><li>Ayuda/Preguntas frecuentes</li></a
            >
            <a href="https://www.kayak.com.co/press-contact"><li>Prensa</li></a>
            <a href="https://affiliates.kayak.com/?languagecode=ES"
              ><li>Afiliados</li></a
            >
            <a href="https://www.kayak.com.co/aos"
              ><li>Propietarios de hoteles</li></a
            >
            <a href="https://www.kayak.com.co/partners-contact"
              ><li>Socios</li></a
            >
          </ul>
        </div>
        <div id="content_one">
          <ul>
            <h4>Nuestra Empresa</h4>
            <a href="https://www.kayak.com.co/about"><li>Quienes somos</li></a>
            <a href="https://www.kayak.com.co/careers"><li>Empleo</li></a>
            <a href="https://www.kayak.com.co/mobile"><li>Móvil</li></a>
            <a href="https://www.kayak.com.co/news/"><li>Blog</li></a>
            <a href="https://www.kayak.com.co/company"
              ><li>Como funciona nuestra web</li></a
            >
          </ul>
        </div>
        <div id="horizontal">
          <ul>
            <li id="pie">@2023 HANGRYBURGUER</li>
            <li id="pie">Aviso legal</li>
            <a href="https://www.kayak.com.co/terms-of-use"
              ><li id="pie">Términos y condiciones</li></a
            >
            <a href="https://www.kayak.com.co/privacy"
              ><li id="pie">Privacidad</li></a
            >
          </ul>
        </div>
       
        <div id="content_6">
          <ul>
            <li id="imgs">
              <a href="https://www.youtube.com/user/KAYAK"><img
                src="https://cdn-icons-png.flaticon.com/512/1077/1077046.png"
                width="35px"
                height="35px"
              />
            </li></a>
            <a href="https://twitter.com/KAYAK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><li id="imgs">
              <img
                src="https://cdn-icons-png.flaticon.com/512/466/466963.png"
                width="35px"
                height="35px"
              /></li></a>
            
            <a href="https://www.facebook.com/kayak.com.colombia"><li id="imgs">
              <img
                src="https://cdn-icons-png.flaticon.com/512/747/747374.png"
                width="35px"
                height="35px"
              />
            </li></a>
          </ul>
        </div>
      </footer>
      <script src="View/Login/accederadm.js"></script>
    </div>
  
  </body>
</html>
