* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: #f8f8f8;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Elimina márgenes por defecto de la lista */
.items_ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacio entre los items */
  margin: 0;
  padding: 0;
}

/* Estilo opcional para los enlaces */
.nav-link {
  text-decoration: none;
  color: #000; /* Cambia según tu diseño */
  font-weight: bold;
}

.logo img {
  display: block;
}
nav {
  padding: 20px 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #007BFF;
}

.cajaprincipal{
  text-align: center;
}

/* Mostrar acordeón en móviles */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }
  .items_ul {
    margin-top: 10px;
  }
}